<!DOCTYPE html>
<html lang="en" ng-app="pigsApp">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>3 Li'l Pigs</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>

  </head>
  <body ng-controller="banksController">
  <nav class="navbar navbar-dark bg-primary">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseMenu">
          <i class="fa fa-bars"></i>
      </button>

      <div class="container">
        <div class="collapse navbar-toggleable-xs" id="collapseMenu">
          <a class="navbar-brand" href="#about">About 3 Li'l Pigs</a>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <button type="button" class="btn green" data-toggle="modal" data-target="#modal-login">
                  Login
              </button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn green" data-toggle="modal" data-target="#modal-register">
              Set Up Banks
              </button>
            </li>
          </ul>
        </div>
      </div>
  </nav>

    <section class="banks">
        <h1 class="bigger-font" ng-model="firstName">{{firstName}}'s Piggy Banks</h1>
        <div class="flex-center">
          <button type="button" name="addButton" class="btn btn-lg indigo" id="addBankButton" data-toggle="modal" data-target=".addMoney">Make Your Decision</i></button>
        </div>
        <div class="container">

        <div class="row">
          <div class="flex-center col-sm-12 col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight flex-center">
                <img src="img/piggy.png" class="img-fluid deep-purple" alt="piggy bank graphic"/>
                <a href="#dreams">
                    <div class="mask"></div>
                </a>
              </div>
              <div class="card-block">
                  <h2 class="card-title animated fadeIn">Dreams</h2>
                  <h4>Go on Safari</h4>
                  <h1 class="money">$3.25</h1>
                  <a href="#dreams" class="btn btn-primary flex-center">See more about my dream</a>
              </div>
            </div>
          </div>
          <div class="flex-center col-sm-12 col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight flex-center">
                  <img src="img/piggy.png" class="img-fluid green" alt="piggy bank graphic" />
                  <a href="#goals">
                      <div class="mask"></div>
                  </a>
              </div>

              <div class="card-block">
                  <h2 class="card-title animated fadeIn">Goals</h2>
                  <h4>Donate to Animal Shelter</h4>
                    <h1 class="money">$6.75</h1>
                  <a href="#goals" class="btn btn-primary flex-center">See more about my goal</a>
              </div>
            </div>
          </div>
          <div class="flex-center col-sm-12 col-md-4">
            <div class="card">
              <div class="view overlay hm-white-slight flex-center">
                  <img src="img/piggy.png" class="img-fluid indigo" alt="piggy bank graphic"/>
                  <a href="#wants">
                      <div class="mask"></div>
                  </a>
              </div>

              <div class="card-block">
                  <h2 class="card-title animated fadeIn">Wants</h2>
                  <h4>New iPhone</h4>
                    <h1 class="money" ng-model="wantBalance">$1.25</h1>
                  <a href="#wants" class="btn btn-primary flex-center">See more about my want</a>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section id="dreams">
      <div class="container">
        <div class="row">
          <h1>Dreams Bank</h1>
          <h3 class="center-text" ng-model="dreamText">{{dreamText}}</h3>
          <div class="flex-center col-sm-12 col-md-3">
            <img src="img/piggy.png" class="img-fluid deep-purple" alt="piggy bank graphic" />
          </div>

          <div class="flex-center col-sm-12 col-md-7 col-md-offset-2">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Date</th>
                  <th>What I Did</th>
                  <th>How Much</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">8/18/2016</th>
                  <td>Started Saving</td>
                  <td ng-model="dreamStartBalance">{{dreamStartBalance | currency}}</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <th scope="row">8/21/2016</th>
                  <td>Saved Money instead of buying a Sprite</td>
                  <td ng-model="dreamAdd">{{dreamAdd | currency}}</td>
                  <td>{{dreamStartBalance + dreamAdd | currency}}</td>
                </tr>
                <tr>
                  <th scope="row">9/19/2016</th>
                  <td>Earned Interest on money I've saved</td>
                  <td>{{interest | currency}}</td>
                  <td>{{dreamStartBalance + dreamAdd + interest| currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </section>
    <section id="goals">
      <div class="container">
        <div class="row">
          <h1>Goals Bank</h1>
          <h3 class="center-text" ng-model="goalText">{{goalText}}</h3>
          <div class="flex-center col-sm-12 col-md-3">
            <img src="img/piggy.png" class="img-fluid green" alt="piggy bank graphic" />
          </div>

          <div class="flex-center col-sm-12 col-md-7 col-md-offset-2">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Date</th>
                  <th>What I Did</th>
                  <th>How Much</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">8/18/2016</th>
                  <td>Started Saving</td>
                  <td ng-model="goalStartBalance">{{goalStartBalance | currency}}</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <th scope="row">8/21/2016</th>
                  <td>Saved Money instead of buying a Sprite</td>
                  <td ng-model="goalAdd">{{goalAdd | currency}}</td>
                  <td>{{goalStartBalance + goalAdd | currency}}</td>
                </tr>
                <tr>
                  <th scope="row">9/19/2016</th>
                  <td>Earned Interest on money I've saved</td>
                  <td>{{interest | currency}}</td>
                  <td>{{goalStartBalance + goalAdd + interest| currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </section>
    <section id="wants">
      <div class="container">
        <div class="row">
          <h1>Wants Bank</h1>
          <h3 class="center-text" ng-model="wantText">{{wantText}}</h3>
          <div class="flex-center col-sm-12 col-md-3">
            <img src="img/piggy.png" class="img-fluid indigo" alt="piggy bank graphic" />
          </div>

          <div class="flex-center col-sm-12 col-md-7 col-md-offset-2">
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Date</th>
                  <th>What I Did</th>
                  <th>How Much</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">8/18/2016</th>
                  <td>Started Saving</td>
                  <td ng-model="wantStartBalance">{{wantStartBalance | currency}}</td>
                  <td>$0.00</td>
                </tr>
                <tr>
                  <th scope="row">8/21/2016</th>
                  <td>Saved Money instead of buying a Sprite</td>
                  <td ng-model="wantAdd">{{wantAdd | currency}}</td>
                  <td>{{wantStartBalance + wantAdd | currency}}</td>
                </tr>
                <tr>
                  <th scope="row">9/19/2016</th>
                  <td>Earned Interest on money I've saved</td>
                  <td>{{interest | currency}}</td>
                  <td>{{wantStartBalance + wantAdd + interest | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-3">

          </div>
          <div class="col-sm-12 col-md-6">
            <h1>About 3 Li'l Pigs</h1>
            <p>
              This is an idea from the imagination of Chrystie T. Nguyen. She wanted a way to teach her kids to learn the value of money and how delayed gratification can help them have more advantages in the future. Studies have found that children who delay gratification have higher SAT scores, lower levels of substance abuse, lower likelihood of obesity, better responses to stress, better social skills, and generally better scores in a range of other life measures.<br><br>
              The project was created during the Women Who Code 2nd Annual Diversity Hackathon. The talents of Chrystie T. Nguyen, Kevin Conway, and Karen Kelly made this application possible and we all look forward to working on it more to make it a reality.
            </p>
          </div>
        </div>
      </div>
    </section>


    <!-- Add money modal -->
    <div class="modal fade addMoney" tabindex="-1" role="dialog" aria-labelledby="addMoneyModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="center-text">Save for Later or Spend Now?</h3>
          </div>
          <div class="modal-body">
            <div class="md-form">
                <input type="number" id="costOfItem" class="form-control">
                <label for="form2">Cost of item you want</label>
            </div>

            <div class="md-form">
              <select class="browser-default">
                <option value="" disabled selected>Choose the item from home</option>
                <option value="soda">Soda (.25&cent;)</option>
                <option value="candy">Candy ($1.00)</option>
                <option value="iceCream">Ice Cream (.50&cent;)</option>
                <option value="dessert">Dessert ($1.00)</option>
                <option value="phoneApp">Phone App (free)</option>
              </select>
            </div>

            <div class="text-xs-center">
                <button class="btn btn-primary btn-lg" data-dismiss="modal">Save Money for Later!</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Spend Money Now</button>
            </div>
          </div>
      </div>
    </div>
  </div>



      <!-- Login modal -->
      <div class="modal fade modal-ext" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3><i class="fa fa-user"></i> Login</h3>
            </div>
            <div class="modal-body">
              <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input type="text" id="form2" class="form-control">
                  <label for="form2">Your email</label>
              </div>

              <div class="md-form">
                  <i class="fa fa-lock prefix"></i>
                  <input type="password" id="form3" class="form-control">
                  <label for="form3">Your password</label>
              </div>
              <div class="text-xs-center">
                  <button class="btn btn-primary btn-lg" data-dismiss="modal">Login</button>
              </div>
            </div>
            <div class="modal-footer">
              <div class="options">
                  <p>Not a member? <a href="#">Sign Up</a></p>
                  <p>Forgot <a href="#">Password?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>




        <!-- Setup banks modal -->
        <div class="modal fade modal-ext" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="center-text">Set Up Child's Banks</h3>

                    </div>
                    <div class="modal-body">
                      <div class="md-form">
                          <i class="fa fa-user prefix"></i>
                          <input type="text" id="childName" class="form-control">
                          <label for="childName">Child's name</label>
                      </div>

                      <div class="md-form">
                          <i class="fa fa-lock prefix"></i>
                          <input type="password" id="childPassword" class="form-control">
                          <label for="childPassword">Child's password</label>
                      </div>
                      <div class="">
                        <h3 class="center-text">Allocate Amounts - must add up to 100%</h3>
                      </div>

                      <div class="md-form">
                          <i class="fa fa-percent prefix"></i>
                          <input type="number" id="dreamPercent" class="form-control">
                          <label for="dreamPercent">Percent to allocate to Dreams Bank</label>
                      </div>
                      <div class="md-form">
                          <i class="fa fa-percent prefix"></i>
                          <input type="number" id="goalPercent" class="form-control">
                          <label for="goalPercent">Percent to allocate to Goals Bank</label>
                      </div>
                      <div class="md-form">
                          <i class="fa fa-percent prefix"></i>
                          <input type="number" id="wantPercent" class="form-control">
                          <label for="wantPercent">Percent to allocate to Wants Bank</label>
                      </div>

                      <div class="text-xs-center">
                          <button class="btn btn-deep-purple" data-dismiss="modal">Start Banks</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- SCRIPTS -->

    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="js/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
